.event {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: .5em;
  border-radius: 4px;
}

.event__header > h2 {
  margin: 0;
  margin-bottom: .5em;
}

.event__header {
  display: flex;
  justify-content: space-between;
}

.event__header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 4px;
  background-color: #3286DF;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.event-market {
  display: flex;
  justify-content: space-evenly;
}

.event-market__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-market__col > h3,
.event-market__col > p {
  margin: 0;
}
