.event {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 4px;
}

.event__header > h2 {
  margin: 0;
  margin-bottom: .5em;
}

.event__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event__header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  padding: .5em;
  background-color: #3286DF;
  font-weight: bold;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
}
