.event {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: .5em;
  border: 1px solid grey;
  border-radius: 4px;
}

.event__header > h2 {
  margin: 0;
  margin-bottom: .5em;
}

.event__header {
  display: flex;
  justify-content: space-between;
}

.event-market {
  display: flex;
  justify-content: space-evenly;
}

.event-market__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-market__col > h3,
.event-market__col > p {
  margin: 0;
}
